<%- include('../partial/head') %>
</head>

<body>

  <%- include('../partial/navbar') %>

    <main class="my-50">
      <h1 class="text-5xl font-bold text-center text-red-500 my-5">My Home Details</h1>
      <p class="text-lg text-center">Home Details Will appear here</p>
    </main>



</body>

</html>