<nav class="flex w-full justify-center bg-red-500">
  <ul class="w-[90%] flex gap-5 text-3xl text-white p-4">
    <li><a href="/" class="hover:bg-red-600 p-2 rounded-md">Home</a></li>
    <li><a href="/host/add-home" class="hover:bg-red-600 p-2 rounded-md">Add Home</a></li>
  </ul>
</nav>