<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="output.css">
</head>

<body>
  <h1 class="text-4xl text-center font-bold bg-orange-600 py-8">Welcome to Airbnb</h1>
  <div class="flex justify-center h-[70vh] bg-gray-200 mt-14 items-center">
    <a class="text-2xl bg-red-600 rounded-sm p-2 text-white" href="/host/add-home">Home to Page</a>
  </div>
</body>

</html>