<%- include('../partial/head') %>
  </head>

  <body>
    <%- include('partial/navbar') %>
      <div class="flex flex-col justify-center my-5 items-center gap-5">
        <h1 class="text-4xl text-center font-bold text-red-500">404</h1>
        <p class="text-center">Opps! Page Not Found 😞</p>
        <a class="text-2xl bg-red-600 rounded-sm p-2 text-white" href="/">Go back home</a>
      </div>

  </body>

  </html>