<form action="/fav-list" method="post">
  <input type="submit" value="Favourite"
    class="border text-green-500 my-1 hover:bg-green-500 hover:text-white rounded-sm border-green-500 py-1 px-3" name=""
    id="">
  <input type="hidden" name="id" value="<%= homeData.id %>">
</form>